<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>Todo List Application</title>
        <link href="{{ asset('build/app.css') }}" rel="stylesheet">
    </head>
    <body>
        <div id="app">

        <script src="{{ asset('build/app.js') }}"></script>
    </body>
</html>
